<!-- search.html -->
<form method="GET" action="{{ url_for('search') }}">
    <input type="text" id="search_keyword" name="search_keyword" placeholder="Searching for..." />
    <input type="submit" value="Search" />
</form>

{% if search_results %}
    <h3>Search Results for "{{ search_keyword }}":</h3>
    <ul>
        {% for todo in search_results %}
            <li>
                <a href="{{ url_for('display_todo', todo_id=todo._id) }}">
                    {{ todo.list_title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    {% if search_keyword %}
        <p>No tasks found for "{{ search_keyword }}"</p>
    {% endif %}
{% endif %}
